@using TravelProje.Models.Siniflar
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td width="10%">@item.ID</td>
    <td>@item.Baslik</td>
    <td width="10%"><a href="/Admin/BlogSil/@item.ID" class="btn btn-danger">Sil</a></td>
    <td width="10%"><a href="/Admin/BlogGetir/@item.ID" class="btn btn-primary">Güncelle</a></td>
    <td width="10%"><a href="#" class="btn btn-info">Detaylar</a></td>
</tr>
    }
</table>
<a href="/Admin/YeniBlog" class="btn btn-success">Blog Ekle</a>